<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta property="og:title" content="Convenções dos torneios de poker da patota."/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/estilo.css">
    <title>Poker da Patota - Regras gerais</title>
  </head>
  <body>
    <h2>Poker da Patota - Regras gerais</h2>
    <div class="voltar"><a href="/">Voltar</a></div>
    <p>Regras gerais das partidas de Poker realizadas pela Patota.<br/>
       Elas definem um padrão, que pode ser debatido e alterado para cada partida, estão listadas aqui apenas para facilitar a consulta.
    </p>
    <ul>
      <li><a href="#Torneio">Regras do Torneio</a></li>
      <li><a href="#Fichas">Valor das fichas</a></li>
      <li><a href="#Ritual">Sobre o ritual</a></li>
    </ul>
    
    <h4><a name="Torneio">Regras do Torneio</a></h4>
    <p>A estrutura de jogo atualmente adotada pela Patota é a modalidade "torneio", cada participante paga um valor fixo de entrada, combinado na hora e de comum acordo com todos os participantes.<br/>
      Esse valor é revertido em fichas com valor monetário simbólico equilivalente ao valor da entrada.<br/>
      O jogador só pode realizar apostas com as fichas, não sendo permitido apostar nada além das fichas obtidas no início do jogo.</br>
      O jogador que ficar sem fichas será eliminado do jogo.<br/>
      Obs.: O jogador só poderá se retirar do jogo ao ser eliminado, se o mesmo desejar desistir ele deve realizar um "all-in" para perder todas as suas fichas.<br/>
      Ao final, só restará um jogador, que terá acumulado todas as fichas em jogo, ele será o vencedor do torneio e levará como premiação todo o valor acumulado com o pagamento das entradas.<br/>
      Também será combinado no início do torneio o valor inicial de small/big blind, bem como o funcionamento do aumento automático dos mesmos.
    </p>
    
    <h4><a name="Fichas">Valor das fichas</a></h4>
    <p>Jogamos com fichas de cinco cores: Verde, Azul, Branco, Vermelho e Preto.<br/>
    Com os seguintes valores:
      <ul>
        <li>Verdes:&nbsp;&nbsp; R$ 0,05.</li>
        <li>Azuis:&nbsp;&nbsp;&nbsp; R$ 0,10.</li>
        <li>Brancas:&nbsp; R$ 0,25.</li>
        <li>Vermelho: R$ 0,50.</li>
        <li>Pretas:&nbsp;&nbsp; R$ 1,00.</li>
      </ul>
    </p>
    
    <h4><a name="Ritual">Sobre o ritual</a></h4>
    <p>Durante as partidas criamos um certo ritual que além de padronizar, dinamiza o jogo. Ele não precisa ser seguido a risca, mas facilita bastante a fluidez do jogo.<br/>
      Obs.: Alguns desses pontos estão na regra do jogo.
      <ul>
        <li>O dealer é o primeiro a receber as cartas, que devem ser distribuidas no sentido horário, uma por vez para cada jogador.</li>
        <li>Um jogador ao fazer um raise (aumentar a aposta) deve colocar as fichas referente ao raise separadas do bolo. Dessa forma, os demais jogadores sabem exatamente qual o valor devem pagar para continuar.</li>
        <li>Ao final da mão, o último jogador que aumentou a aposta será o primeiro a exibir a sua mão, a exibição das cartas continuará no sentido horário. 
      </ul>
    </p>
  </body>
</html>
